h5,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.ticket-access-info {
  padding: 20px;
  text-align: center;
}
.ticket-access-info--logo {
  margin: auto;
  width: 50px; 
}
.ticket-access-info--logo__image {
  width: 100%;
  height: auto;
}
.card-ticket {
  padding: 20px;
  margin: 20px auto;
  content: '';
  background: #FFF;
  max-width: 427px;
  min-height: 500px;
  border: 1px solid #666;
}
.card-header-ticket {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}
.barcode-wrapper {
  text-align: center;
}
.barcode {
  text-align: center;
  font-family: 'Libre Barcode 128', cursive;
  font-size: 4em;
  letter-spacing: .06em;
}
.code-plain-text {
  text-align: center;
  position: relative;
  top: -35px;
}
.card-body-content--ticket {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid #000;
  height: 180px;
  padding: 14px;
}
.dest-info, .rem-info {
  margin: 5px 0;
  font-size: .8em;
}
.logo-wrapper {
  width: 120px;
  height: auto;
}
.logo {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.qrcode {
  width: 130px;
  height: auto;
}
.qrcodeImage {
  overflow: hidden;
  width: 100%;
  height: auto;
} 
.barcode--validation {
  margin: 50px;
  width: 100%;
}
.security-code {
  text-align: center;
}
.security-code p {
  font-size: .8em;
}
.btn-ticket {
  width: calc(50% - 8px);
  margin: 4px auto; 
}
.btn-ticket--print {
  width: calc(50% - 8px);
  margin: 10px auto; 
}
.btn-group--ticket {
  display: flex;
  flex-wrap: wrap;
  margin: auto;  
  max-width: 427px;
  padding: 24px;
}
