.logo {
  width: 100%;
  background: #FFF;
}
.logo-image {
  width: auto;
  height: 85px;
  overflow: hidden;
}
.logo,
.logo-image,
.nav-menu {
  margin: 0 auto;
}
.nav-bar {
  text-align: center;
}
ul.nav-menu {
  background: #FFF;
  display: flex;
  padding: 0;
  justify-content: center;
  list-style: none;
  color: #666;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}
.nav-menu-item {
  padding: 20px;  
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.162, 1);
  font-weight: 600;
}
.a.link-custom:hover,
.nav-menu-item:hover {
  color: #666;
}
a.link-custom:active,
.nav-menu-item--checked {
  color: #C8001D !important;
}
a.link-custom {
  color: #333; 
  text-decoration: none;
}