.header-company {
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid #f7f7f7;
}
.navbar-jsl-item {
  text-align: center;
  padding: 10px;
}


.header-company-logo {
  width: 120px;
  height: auto;
  margin: auto;
}
.header-company-logo-image {
  width: 100%;
}
.nav-bar-jsl {
  background-color: #fff;
}
.navbar-jsl-item-link {
  color: #3F3F49 !important;
}
.dropdown-toggle,
.navbar-jsl-item-link {
  color: #3F3F49 !important;
  font-size: .9em;
}
.dropdown-toggle:hover,
.navbar-jsl-item-link:hover {
  color: #C8001D !important;
}